<html>
<head>

<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-local-storage.js"></script>
<link rel="stylesheet" type="text/css" href="main.css">

<script type="text/javascript">
	var app = angular
		.module("Example",['ngRoute', 'LocalStorageModule'])
			.config(function($routeProvider){
        		$routeProvider
	            .when("/CreateRoom", {
	                templateUrl : "views/CreateRoom.html",
	                controller : "createRoomController"
	            })
                .when("/CreateVisitor", {
                    templateUrl : "views/CreateVisitor.html",
                    controller : "CreateVisitorController"
                })

                .when("/CreateWorker", {
                    templateUrl : "views/CreateWorker.html",
                    controller : "CreateWorkerController"
                })
                
                .when("/room", {
                    templateUrl : "views/room.html",
                    controller : "roomController"
                })

                .when("/workers", {
                    templateUrl : "views/workers.html",
                    controller : "workersController"
                })
    		})
    		.config(function (localStorageServiceProvider) {
    			localStorageServiceProvider
    				.setPrefix('Test')
    				.setStorageType('sessionStorage')
    				.setNotify(true, true)
    		})
    		.controller("mainController", function($scope, $location, localStorageService, $rootScope) {
                $scope.roomInfo;
                // $scope.user;
    			$scope.goTo = function(url) 
    			{
    				$location.path(url);
    			}
                $scope.goToRoom = function(url, room) 
                {
                    $location.path(url);
                    $scope.roomInfo = room;
                }
                if (localStorageService.get("message") != null) 
                {
                    $scope.rooms = localStorageService.get("message");
                } 

                else
                {
                    $scope.rooms = [];
                    localStorageService.set("message", $scope.rooms)
                }

                 function ChangeStyleYellow() 
                        { 
                            document.getElementById("p1").style.color="yellow"; 
                        }
                 function ChangeStyleRed() 
                        { 
                            document.getElementById("p1").style.color="red"; 
                        }
                function ChangeStyleGreen() 
                { 
                    document.getElementById("p1").style.color="green"; 
                }

                var deleteVisitor = function (visitor) {
            
                    $scope.roomInfo.visitor = null;
                    // console.log($scope.roomInfo.visitor);
                    for (var i = 0; i < rooms.length; i++) {
                        if (rooms[i].name == $scope.roomInfo.name) {
                            rooms[i] = $scope.roomInfo;
                            localStorageService.set("message", rooms);
                        }
                    }
                }

                // $rootScope.Time = function (visitor){
                // 	console.log(visitor);
                // 	// console.log(visitor.room);
                // for (var i = 0; i < $scope.rooms.length; i++) {

                //     if ($scope.rooms[i]==visitor.room) 
                //     {
                        
                //     	console.log("adsfsdfs");
                        
                //         setTimeout(ChangeStyleRed(), 1000);
                //         // setTimeout(ChangeStyleYellow(), visitor.time * 1000 + 1000);
                //         // setTimeout(deleteVisitor(), visitor.time * 1000 + 1000);
                //         // setTimeout(ChangeStyleGreen(), visitor.time * 1000 + 5000);

                //         // setTimeout(deleteVisitor(visitor), visitor.time * 1000);
                //     }
                // }}
                
    		})

            .controller("createRoomController", function($scope, localStorageService) {
               
                var rooms = localStorageService.get("message");

                function RoomClass(name, code, visitor, worker)
                {
                    this.name = name;
                    this.code = code;
                    this.visitor = visitor;
                    this.worker = worker;
                                       
                }
           
                $scope.CreateRoom = function() {
                    var room = new RoomClass($scope.room.name, $scope.room.code, "", "");
                    rooms.push(room);
                    localStorageService.set("message", rooms);
                     window.location = "http://localhost:4000"
                    
                }

               
                            
                
            })
            
               
                
            .controller("CreateVisitorController", function($scope, localStorageService, $location, $rootScope) {
                
                var room;
                var rooms = localStorageService.get("message");
                function VisitorClass(name, surname, time, room)
                {
                    this.name = name;
                    this.surname = surname;
                    this.time = time;
                    this.room = room;
                }

                $scope.pickRoom = function(pRoom) {
                    room = pRoom;
                    console.log(room);
                }
                $scope.CreateVisitor = function() {
                    var visitor = new VisitorClass($scope.visitor.name, $scope.visitor.surname, $scope.visitor.time, room);

                    for (var i = 0; i < rooms.length; i++) {
                        if (rooms[i].name == room.name) {
                            rooms[i].visitor = visitor;
                            // rooms[i] = room;
                            localStorageService.set("message", rooms);
                            
                            // $rootScope.Time(visitor);

                            // $rootScope.visitor = visitor;
                             window.location = "http://localhost:4000"
                            
                        }
                    }
                }
            })


            .controller("CreateWorkerController", function($scope, localStorageService, $location) {
                
                var room;
                var rooms = localStorageService.get("message");
                function WorkerClass(name, surname, time, position)
                {
                    this.name = name;
                    this.surname = surname;
                    this.time = time;
                    this.position = position;
                }

                $scope.pickRoom = function(pRoom) {
                    room = pRoom;
                    console.log(room);
                }
                $scope.CreateWorker = function() {
                    var worker = new WorkerClass($scope.worker.name, $scope.worker.surname, $scope.worker.time,$scope.worker.position);
                    for (var i = 0; i < rooms.length; i++) {
                        if (rooms[i].name == room.name) {
                            room.worker = worker;
                            rooms[i] = room;
                            localStorageService.set("message", rooms);
                            
                            $location.path('http://localhost:4000');
                            // Time(visitor);
                        }
                    }
                }
            })

            
                

            .controller("roomController", function($scope, $rootScope, localStorageService, $timeout) {
               
                
                $scope.visitor = $scope.roomInfo.visitor;

                $scope.worker = $scope.roomInfo.worker;

                function ChangeStyleYellow() 
                        { 
                            document.getElementById("p1").style.color="yellow"; 

                        }
                 function ChangeStyleRed() 
                        { 
                            document.getElementById("p1").style.color="red"; 
                        }
                function ChangeStyleGreen() 
                { 
                    document.getElementById("p1").style.color="green"; 
                }

                // $scope.ChangeStyleTimeYellow = $timeout(function()
                // { 
                //         return (ChangeStyleRed());

                // }, 5000);

                 function ChangeStyleRED() 
        { 
            document.getElementById("p1").style.color="red"; 

        }
        function ChangeStyleGREEN() 
        { 
            document.getElementById("p1").style.color="green"; 

        }
        function ChangeStyleYELLOW() 
        { 
            document.getElementById("p1").style.color="yellow"; 

        }

    var number, summ=0;
    do
    {
        number=parseInt(prompt("Введите количество дней пребывания:", 10));
        summ+=number;
    }
    while(confirm("Добавить еще?"))
    alert("Сумма дней прибывания: "+summ);

    setTimeout(ChangeStyleRED, 1000);
    setTimeout(ChangeStyleYELLOW, summ*1000 + 1000);
    setTimeout(ChangeStyleGREEN,  summ*1000 + 5000);
                


                var deleteVisitor = function (visitor) {
            
                    $scope.roomInfo.visitor = null;
                    // console.log($scope.roomInfo.visitor);
                    for (var i = 0; i < rooms.length; i++) {
                        if (rooms[i].name == $scope.roomInfo.name) {
                            rooms[i] = $scope.roomInfo;
                            localStorageService.set("message", rooms);
                        }
                    }
                }

                // $rootScope.Time = function (visitor){
                // 	console.log(visitor);
                // 	// console.log(visitor.room);
                // for (var i = 0; i < $scope.rooms.length; i++) {

                //     if ($scope.rooms[i]==visitor.room) 
                //     {
                        
                //     	console.log("adsfsdfs");
                //         $rootScope.red = "Red Room";
                //         // setTimeout(ChangeStyleRed(), 1000);
                //         // setTimeout(ChangeStyleYellow(), visitor.time * 1000 + 1000);
                //         // // setTimeout(deleteVisitor(), visitor.time * 1000 + 1000);
                //         // setTimeout(ChangeStyleGreen(), visitor.time * 1000 + 5000);

                //         // setTimeout(deleteVisitor(visitor), visitor.time * 1000);
                //     }
                }
                )
            

            .controller("workersController", function($scope) {
               
                
                // $scope.visitor = $scope.roomInfo.visitor;

                $scope.worker = $scope.roomInfo.worker;

                
                   
                
            })
</script>


</head>
<body  background=sea.jpg  ng-app="Example">
    <div class="main">
    	<div ng-controller="mainController">
            <button class="knopka" ng-click="goTo('')">Главная</button>
            <button class="knopka" ng-click="goTo('/CreateRoom')">Добавить номер</button>
            <button class="knopka" ng-click="goTo('/CreateVisitor')">Добавить поситителя</button>
            <button class="knopka" ng-click="goTo('/CreateWorker')">Добавить сотрудника</button>
            <button class="knopka" ng-click="goTo('/workers')">Cписок сотрудников</button>
            
            <h3>Список номеров:</h3>
    		<div ng-repeat="room in rooms" ng-click="goToRoom('/room', room)">{{room.name}}</div>
            <!-- <button class="knopka" ng-click="deleteSub">Удалить предмет</button> -->
            
    		<div ng-view>

    		</div>
    	</div>
    </div>
</body>
</html>