<div>
	<div id="p1" class="room">
		<h3>Номер: {{groupInfo.name}}</h3>
	</div>
	<!-- <div class="teacher">
		<h3>Учитель: {{teacher.name}} {{teacher.surname}}</h3>
	</div> -->
	<!-- <div class="lesson">
		<div>
			<h3>Список предметов:</h3>
		</div>
		<div ng-repeat="lesson in lessons">
			<p>{{lesson.name}}</p>
		</div>
	</div> -->
		<div class="student">
		<div>
			<h3>Список поситителей:</h3>
		</div>
		<div ng-repeat="student in students">
			<p>{{student.name}} - {{student.time}} дня</p>
		</div>
	</div>
</div>