<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Create Room</title>
</head>
<body background=2.jpg >
    <div class="">
    <div>
        <h3>Добавить НОМЕР</h3>
    </div>
    <div>
        <div>Название НОМЕРА</div>
        <input id="p1" type="text" ng-model="room.name">
    </div>
    <div>
        <div>НОМЕР НОМЕРА</div>
        <input class="" type="text" ng-model="room.code">
    </div>
    <div>
        <button class="button darkred" ng-click="CreateRoom()">Добавить номер</button>
    </div>
</div>
</body>
</html>